
<h1>How many candles do you need to order?</h1>
    </br>
<form action="/candles" method="post">
    <input type="text" name="n_candles" placeholder="number of candles?"></input>
    <input type="submit" value="submit"></input>
</form>


   
